.TodoPageMain {
    max-width: 440px;
    margin: 0 auto;
    margin-top: 60px;
}

.TodoPage-title {
    font-size: 20px;
    color: #453c52;
    margin-bottom: 12px;
    height: 27px;
    font-weight: 600;
}

.AddTodo {
    display: flex;
    height: 32px;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 20px;
}

.AddTodo-text {
    color: #453c52;
    font-size: 14px;
    width: 190px;
    border: 1px solid #BFB8CC;
    border-radius: 4px;
    padding: 6px 12px;
}

.AddTodo-date {
    margin-left: 10px;
    font-size: 14px;
    color: #453c52;
    border: 1px solid #BFB8CC;
    border-radius: 4px;
}

.AddTodo-button {
    color: white;
    background-color: #48BB78;
    font-size: 14px;
    margin-left: 11px;
    padding: 6px 23px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.TodoSection {
    margin-bottom: 20px;
}

.TodoSectionTitle {
    display: flex;
    align-items: stretch;
    color: #453c52;
    margin-bottom: 11px;
    height: 19px;
}

.TodoSectionTitle-text {
    font-size: 14px;
    font-weight: 600;
}

.TodoSectionTitle-remainingCount {
    padding-left: 8px;
    font-size: 12px;
}

.TodoItem {
    margin-left: 11px;
    font-size: 14px;
    color: #453c52;
    height: 19px;
    margin-bottom: 16px;
}

.TodoItem-container {
    display: inline-flex;
    align-items: center;
    height: 19px;
    padding: 2px;
}

.TodoItem-container:hover {
    background-color: #f1edf7;
    border: 1px solid transparent;
    border-radius: 4px;
}

.TodoItem-container:hover .TodoItem-delete {
    visibility: visible;
}

.TodoItem-checkbox {
    height: 16px;
    width: 16px;
}

.TodoItem-duedate {
    font-size: 12px;
    color: #726a7e;
    margin-left: 10px;
    font-weight: lighter;
    padding: 2px 2px;
    text-align: center;
}

.TodoItem-delete {
    visibility: hidden;
    margin-left: 16px;
}